* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto;
  grid-template-areas:
    /* "header" */
    "main"
    "footer";
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 8;
  display: none;
}

header {
  position: fixed;
  height: 4.5rem;
  display: flex;
  background-color: #fff;
  grid-area: header;
  width: 100%;
  z-index: 10;
}

main {
  margin-top: 4.5rem;
  background: #fff;
  grid-area: main;
  height: auto;
}

.footer {
  grid-area: footer;
  background-color: #111111;
}
.footer__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  font-size: 0.8em;
  max-width: 75rem;
  margin: 0 auto;
}

.footer__about {
  padding: 1rem;
  color: #fff;
  text-align: center;
}
.footer__about a {
  color: #fff;
}
.footer__about a:hover {
  text-decoration: none;
}
.footer__contact {
  padding: 1rem;
  color: #fff;
  text-align: center;
}
.footer__contact a {
  color: #fff;
  padding: 0 0.1rem;
  font-weight: bold;
}
.footer__contact a:hover {
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px 1px rgb(125, 125, 125);
}
.main-nav__brand {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgb(25, 25, 25);
  padding-left: 1rem;
}
.main-nav__brand img {
  height: 1.5rem;
  margin: 0 0 1rem 0.5rem;
}
.main-nav__brand span {
  font-size: 1.5em;
}

.main-nav__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  padding: 1rem 0;
  height: 100%;
}
.main-nav__hamburger > div {
  padding: 0.1rem 0.8rem;
  background: rgb(25, 25, 25);
  margin: 0.1rem 0;
  border-radius: 10%;
}
.main-nav__btn {
  background-color: #ff6146;
  color: #fff;
  border: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  transition: all 0.2s ease-out;
  transform: translateX(-70vw);
}

.mobile-nav--show {
  transform: translateX(0vw);
}

.overview__content {
  position: relative;
  height: 100vh;
  clip-path: circle(95% at 0% 20%);
  padding-bottom: 40rem;
  max-height: 30rem;
}
.overview__background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../src/background-overview.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.overview__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overview__title {
  padding: 3rem 1rem 0rem 1rem;
  margin: 0;
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 5px 20px rgb(50, 50, 50);
  z-index: 1;
}
.overview__subtitle {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
  font-family: "Catamaran";
  font-size: 1.5em;
  color: #fff;
  text-shadow: 1px 5px 20px rgb(50, 50, 50);
  z-index: 1;
}

.overview__begin-btn {
  margin-top: 1rem;
  margin-bottom: 0;
  width: 10rem;
  text-align: center;
  font-family: "Archivo Narrow";
  font-size: 1.5em;
  background-color: #ff6146;
  border: none;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0.6rem 0.6rem 1.7rem 0rem rgba(0, 0, 0, 0.49);
  z-index: 1;
}
.overview__community {
  margin: 1rem 1rem 0 1rem;
  color: rgb(175, 175, 175);
  z-index: 1;
}
.overview__community a {
  color: #fff;
  text-decoration: underline;
}

.section-title {
  font-size: 1.6em;
  color: rgb(75, 75, 75);
  text-align: center;
}
.section-title--white {
  padding: 1rem;
  color: #fff;
  border: #fff dotted;
  font-size: 1.5em;
}

.section-content {
  padding: 1.5rem;
  max-width: 75rem;
  margin: 0 auto;
}

.wrapper-brands {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.wrapper-brands__item {
  margin: 1rem 1rem;
  height: 3rem;
  filter: grayscale(1);
  opacity: 0.5;
}

.description {
  background-color: #dadada;
}
.description__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.description__article {
  line-height: 2.6rem;
}
.description__image-container {
  margin-top: 1rem;
  height: 30rem;
  width: 16rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.description__image {
  margin-top: 4rem;
  position: absolute;
  height: 15rem;
  width: 16rem;
}
.description__arrow {
  position: absolute;
  height: 5rem;
}
.description__arrow--arrow1 {
  top: 55%;
  left: 50%;
  transform: rotateZ(75deg);
}
.description__arrow--arrow2 {
  top: 40%;
  left: 0%;
  transform: rotateZ(75deg);
}
.description__arrow--arrow3 {
  top: 10%;
  left: 60%;
  transform: rotateZ(-50deg);
}
.description__text {
  position: absolute;
  font-size: 1.5rem;
  font-family: "Catamaran";
}
.description__text--arrow1 {
  top: 70%;
  left: 60%;
}
.description__text--arrow2 {
  top: 60%;
  left: 0%;
}
.description__text--arrow3 {
  top: 0%;
  left: 55%;
}

.features {
  background-color: #ff6146;
}
.features__content {
  color: #fff;
  text-align: left;
  padding: 3rem;
}
.features__content h5 {
  color: #fff;
  text-align: left;
  margin-top: 0;
}

.features__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 2rem;
}
.features__title {
  padding: 1rem 0 0 0;
  margin: 0;
  color: white;
  font-weight: bold;
}
.features_item {
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  background-color: #fff;
}

.product__image {
  height: 10rem;
}
.product__title {
  margin: 1rem 0 0 0;
  text-align: center;
}
.product__subtitle {
  margin: 0;
  font-size: 1em;
  text-align: center;
}

.product__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product__image {
  height: 5rem;
}

.community {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ff6146;
  color: white;
  line-height: 2rem;
}
.community__women {
  width: 10rem;
  height: 10rem;
  background-image: url(../src/happy-women.png);
  background-size: 200%;
  background-position: 35% calc(50% + 140px);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #dadada;
  margin: 0 auto;
}

.community__decoration {
  height: 5rem;
  width: 5rem;
  align-self: flex-start;
  position: absolute;
  bottom: 8.2rem;
  left: 5rem;
}

.community-brands {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.community-brands__item {
  margin: 1rem 1rem;
  height: 1rem;
  opacity: 0.5;
}
.community__join-btn {
}

.photo {
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.photo__section {
  padding: 0;
}
.photo--woman {
  background-image: url("../src/women-eat-grapefruit.jpg");
}
.photo--man {
  background-image: url("../src/background-overview.jpg");
}
.photo--pomelo {
  background-image: url("../src/pomelo.jpg");
}
.photo h1 {
  margin: 0;
}

.plan {
  padding: 3rem 0;
  background-color: #dadada;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plan__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 2rem;
  max-width: 20rem;
  min-width: 15rem;
  background-color: #fff;
  color: #333333;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.08);
}

.plan__card--hightlighted {
  z-index: 1;
}

.plan__title {
  font-size: 2em;
  padding: 1rem;
  margin: 0;
}
.plan__subtitle {
  font-size: 1.2em;
  margin-top: 0rem;
  padding: 0rem 1rem;
}
.plan__price {
  padding: 1rem 0;
  color: #fff;
}

.plan_image {
  padding: 1rem;
  margin-top: 1rem;
  height: 7rem;
  flex-basis: 50%;
  width: 50%;
  align-self: center;
}
.plan__description {
  padding: 0 1rem;
}
.plan_list {
  width: 75%;
  height: 50%;
  padding: 1rem;
  margin: 0 auto;
  text-align: left;
}
.plan__cartbtn {
  margin: 1rem;
  background-color: palevioletred;
  color: white;
  border: none;
}

.plan__title--lite {
  color: palevioletred;
}
.plan__subtitle--lite {
  color: palevioletred;
}
.plan__price--lite {
  background-color: palevioletred;
}
.plan__cartbtn--lite {
  background-color: palevioletred;
}

.plan__title--pro {
  color: rgb(255, 97, 70);
}
.plan__subtitle--pro {
  color: rgb(255, 97, 70);
}
.plan__price--pro {
  background-color: rgb(255, 97, 70);
}
.plan__cartbtn--pro {
  background-color: rgb(255, 97, 70);
}

.plan__title--team {
  color: #632780;
}
.plan__subtitle--team {
  color: #632780;
}
.plan__price--team {
  background-color: #632780;
}
.plan__cartbtn--team {
  background-color: #632780;
}

@media (min-width: 45rem) {
  .overview__content {
    clip-path: circle(80% at 20% 10%);
  }
  .overview__article {
    font-size: 1.2em;
    max-width: 45rem;
    margin: 0 auto;
    max-height: 30rem;
  }
  .clients {
    font-size: 1.2em;
    margin: 0 auto;
  }
  .clients .section-title {
    max-width: 50rem;
    margin: 2rem auto;
  }
  .wrapper-brands {
    max-width: 70rem;
    margin: 2rem auto;
  }
  .wrapper-brands__item {
    height: 4rem;
  }

  .description__content {
    justify-content: space-between;
  }
  .description__article {
    font-size: 1.2em;
    text-align: left;
    width: 50%;
    padding: 0 1rem;
    max-width: 95rem;
  }
  .section-content {
    padding: 3rem 2rem;
  }

  .community {
    font-size: 1.2em;
  }
  .community article {
    margin: 1rem auto;
    max-width: 50rem;
  }

  .footer__content {
    justify-content: space-between;
  }
  .features_item {
    width: 45%;
  }
}
